<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
</head>
<body>
<div>
    <url>

        <ol>
            {% for i in book %}
            <li>
                <h2>{{i.title}}</h2>
                <p>{{i.description}}</p>

                <a href=url>{{i.url}} </a>

                <p>Click the button to read online or download book!</p>
                <button onclick={{i.url}}>Download or read book online here!</button>

<!--            <p><a href=url>Download or read book online here!</a></p>-->

                <img src="{{i.image.url}}" alt="" width="400" height="400">

                <p>{{i.created_date}}</p>
                </li>
            {% endfor %}
        </ol>
    </url>
</div>
</body>
</html>